{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <p>Page d'accueil d'un site. Veuillez vous identifié pour accéder à l'Api relié au site.</p>
        </div>
    </div>
{% endblock %}