{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <h2>Liste des télépphones</h2><br>
        <div class="row">
            {% for phone in phones %}
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="{{ asset('') }}" alt="">
                    <h3><a href="{{ path('bile_mo_phone_view', {'slug' : phone.slug}) }}">{{ phone.name }}</a></h3>
                    <p>{{ phone.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}