{% extends 'baseLight.html.twig' %}
{% block body %}
    <div class="container">
        <h4>Liste des Clients lié à <u>{{ app.user.username }}</u></h4>
        <p><a href="{{ path('bile_mo_add_client_page') }}" class="btn btn-success">Ajouter un client</a></p>
        {% for listMember in listMembers %}
            <p><a href="{{ path('bile_mo_client_account_page', {'id' : listMember.id}) }}">{{ listMember.fullName }}</a></p>
        {% endfor %}
    </div>
{% endblock %}